@font-face{
    font-family: 'Zilla Slab Highlight';
    src:url("./Zilla_Slab_Highlight/ZillaSlabHighlight-Regular.ttf")
}

@mixin display($justify-content){
     display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:$justify-content;
}



.details-wrapper{
background:black;

}

.detailsContent{
   @include display(space-between);

    
    .previous-icon{
        position: absolute;
        left:15px;
        top :5%;
            } 
    iframe{
        margin-top:100px;
    }             
    figure.details{
            width : 91%;
            border-bottom:1px ridge white;
            padding:5%;
        }
        p{  
            line-height: 30px;
            width:90%;
            color:white;
            font-size:16px;
    }

}
@media screen and (min-width:900px){
    .previous-icon{
        border: 3px solid blue;
        margin-left: -540px; 
        top :5%;
        display: none;
    }
    .details{

        .imageDetails{
            max-width: 45%;
        }
        figcaption.figCaption{
            position:absolute;
            top: 55% !important;
            left:73%;
            transform: translateY(-55%);
            width: 200px;
        } 
        
    } 
}

