@font-face{
    font-family: 'Ananda';
    src:url('./ananda_2/AnandaPersonalUse.ttf')
}
@font-face{
    font-family : 'Arimo';
    src: url('./Arimo/Arimo-VariableFont_wght.ttf')
}

html{
    font-size : 62.5%;
}
body{
    margin:0;
    padding:0;
    p, p a, h2,a{
        font-family: 'Arimo';
    }
    a{
        text-decoration: none;
        color:white;
    }
}

*{
    box-sizing:border-box
}

//p error msg in PostFetch.jsx
p.fetch-error-message{
    position: absolute;
    color:  white;
    font-size: 1.5rem;
    background-color: orange;
    top : 25%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-radius : 8px;
    text-align: center;
    width : 150px;
    z-index:50;
    // height : 0;
    overflow: hidden;
    transition : .5s;
    box-shadow: 0 0 20px black;
}

.Home-wrapper{
    // height:120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}

.upper-content-main-wrapper{
    height : 100%;
}

header{
    position:relative;
    // overflow: hidden;
    height : 43vh;
    width:100vw;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    -moz-transition : all 1s ease-out ;
    -webkit-transition : all 1s ease-out;
    transition: all 1s ease-out;

    //logo
    h1{
        position:absolute;
        top:6%;
        left:5%;
        font-family: 'Ananda';
        font-size: 3.1rem;
        color:white;
        text-shadow: 0 0 5px black;
    }
 

    // profile-icon block
     
     .profile-block{

        display: flex;
        justify-content: center;
        flex-direction : column !important;
        
        transition: .5s;

        label{
            position:absolute;
            top:110%;
            left:8%;
            width : 68px;
            font-size: 1.4rem;
            color:white;
            padding:3%;
            box-shadow: 0 0 5px black;
            background-color: rgba(86, 97, 127, 0.961);
            border-radius: 5px;
            text-align: center;

        }
        input{
            position: absolute;
            top:112.3%;
            width:69px;

            &[type='file']{
                left : 8%;
                opacity:0;
                z-index:40;
            }

            &[type = 'submit']{
                left : 100%;
                border : 0.2px solid rgba(0, 0, 0, 0.69);
                border-radius : 4px;
                box-shadow: 0 0 5px black;
                color : rgba(176, 38, 38, 0.882);
            }
            
        }
        img{
            cursor : pointer;
            width: 80px;
            height : 80px;
            border-radius: 50%;
            background-color: black;
            border : 2px solid white;
            box-shadow: 0 0 4px black;

        }
        
    }

    //Parent block containing both history "deleted/ in fovites" items
    .history-items-list{
        position : relative;
        display: flex;
        justify-content: space-between;
        padding-top: 50%;

        .close-icon{
            max-width : 10%;
            position:absolute;
            top : 3%;
            right : 5%;
        }
    }

    .history-content-wrapper{
        display: flex;
        flex-direction: column;
        width:48%;
        align-items: center;

        p{
            font-size: 1.3em;
            padding :4%;
            background : #4A4A4A;
            border-radius : 8px;
            width : 80%;
            text-align: center;
            color:white;
            box-shadow: 0 0 5px black;
            
        }
    
 //  history ul block in profile block
    .history{
        overflow: scroll;
        width:100%;
        display: flex; 
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
      
        li{
            margin-bottom: 7%;
            
        }
        
        a{
            position: relative;
            color:black;
            font-size: 1.7rem;
            text-decoration: none;
            // width:20%;
            // text-align: center;
            &::before{
                content : '';
                position : absolute;
                left : 40%;
                width : 0;
            }
            &:hover::before{
                border: 8px solid transparent;
                border-left : 8px  solid  rgba(86, 97, 127, 0.961);
            }
        }

    }
}

}
.searchFields{
    width : 90%;
    height : 30px;
    position :relative;
    top : 80%;
    left : 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 !important;
    // z-index : 100;
    input[type='text']{
       padding : 4%;
       flex:3;
       height:100%;
       border-radius : 10px;
       border:none;
       padding-left: 3%;
       background : rgba(255, 255, 255, 0.884);
       color:black;
       box-shadow: 0 0 3px rgba(255, 255, 255, 0.622);
       outline:none;
       &::placeholder{
           font-style: italic;
           font-family: Arial, Helvetica, sans-serif;
           font-weight : 100;
           font-size: 0.9em;
           opacity: 0.4;
       }
    }
    //search icon
    img{
        position:absolute;
        left:95.5%;
        max-width:4%;
        transform: translateX(-50%);
        border-radius : 8px;
        cursor: pointer;
        opacity : 0.6;
    }
    input[type='submit']{
        position : absolute;
        height:17px;
        opacity: 0;
        left:94%;
        width : 18px;
    }
}

//middle content
figure{
    padding:0;
    width:99%;
    position:relative;
    // height : 29.4vh; 
    margin: 50px 2% 37px 2%;
    display:flex;
    justify-content : center;
    align-items: flex-start;
    &>*{
        box-shadow : 0 0 8px black;
        
    }
    img{
        max-width:80%;
        border-radius : 3px;
    }
    figcaption{
        position : absolute;
        top : -11%;
        left:1%;
        border-radius : 5px;
        background: rgba(0, 0, 0, 0.809);
        margin-right: 2%;
        color:white;
        border : 1px solid white;
        box-shadow: 0 0 2px rgba(255, 217, 0, 0.467);
        width : 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            text-align:center;
            padding:6%;
            font-size: 1rem;
        }
    }
}
//placeholder POstftch au cas où il n'y a pas de match ---> recherche  du user
i{
    display: none;
}
//container that shows results
.fetch-response-container{
    width:100vw;
    height:97vh;
    background : black;
    display:grid;
    overflow-x: scroll;
    grid-template-rows : 4fr 1fr 4fr;
    // grid-auto-rows: minmax(50px,100px);
    grid-auto-flow: column;
    grid-column-gap: 3%;

    &>*{
        grid-row-start: 2 ;
    }
    ///div grid displayed that show results
    .fetch-result-wrapper{
        padding: 0;
        height: 50%;
        min-width : 90vw;
        position:relative;
       
        p.error-message{
            position : absolute;
            top  : -60px;
            left : 50%;
            transform : translateX(-50%);
            background : orange;
            color : white;
            font-size : 1.8rem;
            width : 60%;
            height : 0;
            // padding : 2%;
            overflow : hidden;
            text-align : center;
            border-radius : 8px;
            transition : .5s
        }
        .options-icon{
            position : absolute;
            top:3%;
            left:2%;
            padding :2%;
            background-color:rgba(255, 255, 255, 0.412);
            border-radius: 50%;
            border: 1px solid white;
            box-shadow: 0 0 10px black;
        }

        //h5 container
        div.options-params{
            position:absolute;
            left:13%;
            width : 200px;
            padding: 0;
            ///h5
            &>*{
                margin:5%;
                height : 30px;
                background-color: #383737;//#4287f5;
                border: 1px solid white;
                border-radius :  18px;
                text-align: center;
                padding-top :8px;
                font-size: 1.3rem;
                font-weight: 500;
                color:white;
                cursor: pointer;
            }
        }

        .favorite{
            position:absolute;
            top:-1%;
            right:8%;
        }

        .fetch-image{
            border-radius: 8px;
            max-width : 90%
        }
    }
}


@media screen and (min-width : 768px){
    .middle-content-wrapper{
        max-height : 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        figure{
            max-width : 70%;
        }
    }
}

@media screen and (min-width:900px){
    header{
       h1{
           position:fixed;
           top : 1%;
           z-index: 10;
           height: 80vh !important;
           flex:2 !important;

       }
       .profile-block{
        left: 10% !important;
           img{
               width : 150px !important;
               height : 150px  !important;
           }

           label{
               top: 50%;
               left : 105%;
           }
           input{
               top : 52.3%;

               &[type='file']{
                    left : 105%;
               }

               &[type='submit']{
                    left : 155%;
               }
           }
       }
    }
    .history-items-list{
        padding-top: 15% !important;
        z-index: 6;
        .close-icon{
            max-width : 3% !important;
            position:absolute;
            top : 3%;
            right : 5%;
            cursor : pointer;
        }
    }

    // history lists
    ul.history:nth-child(n){
        li{
            min-width : 500px;
            padding-left : 45%;
        }
    }    

    nav{
        max-height : 9.99vh;
        min-width:100%;
        background-color: rgba(0, 0, 0, 0.863) !important;
        position : static;
        margin-bottom:5%;
        justify-content: flex-end  !important;
        align-items: center !important;

        //menu burger icon
        div{
            display:none !important;
        }
        ul{
            align-items: center !important;
            justify-content: space-evenly !important;
            min-width:80%;
            position : relative;
            flex-direction: row !important;
        }

        a{
            position : relative;
            &::before{
                        content : '';
                        position: absolute;
                        left : 50%;
                        top : -15px;
                        transform :translateX(-50%);
                        width:0;
                        transition: 0.2s;
                    }
            }
    }

    // each link in nav
        &:hover::before{
            border : 10px solid transparent;
            border-top : 11px solid white;
           
        }

    //form qui contient la barre de recherche
    .searchFields{
        width : 50%;

    }

    //section du milieu
    .middle-content-wrapper{
        max-height : 90%!important ;
        position: relative;
    }

    figure{
        min-width : 50%;
         figcaption:nth-child(n){
                position: absolute;
                height: 20%;
                width: 50%;
                top : 80%;
                left : 50%;
                transform: translateX(-50%);
                background-color: rgba(17, 17, 17, 0.863);
                border : 1px solid white;
                box-shadow: 0 0 10px black !important;
            }
    }
    p.description{
        padding-top: 10%;
        height: 400px !important;
        
        span.description{
            position : absolute;
            top : 10px;
            left:70%;
            font-size: 1.7rem;
            // transform: translateX(-50%);
            padding : 1%;
            z-index: 3;
            background-color: rgba(17, 17, 17, 0.856);
            text-align: center;
            border-radius : 5px;
            border : 1px solid white;
            box-shadow: 0 0 10px black;
        }
        display: block !important;
        flex:1;
        border-radius : 5px;
        min-width:44%;
        margin : 2% 3% 0 0;
        padding: 3%;
        color:white;
        background-color: black;
        line-height:20px;
        font-size: 1.8rem;
        overflow: scroll;
        line-height: 25px;
    }

    div.fetch-result-wrapper{
        min-width:35vw !important;
        img.fetch-image{
            max-width: 90% !important;
        }
    }

}

@media screen and (min-width: 1024px){

    .history-items-list{
        padding-top : 30% !important;
    }

    h1{
        top : 2.6% !important;
    }

    .middle-content-wrapper{
        margin-bottom: 7%;
        figure{
            // border : 3px solid red;
            margin-left: 5% !important;
            width : 48%;
            height : 88% !important; 
            img{
                height : 100%;
                min-width : 90%;
            }
        }

        p.description{
           max-width : 45%;
           height : 430px !important;
           
            span.description{
                top: 9%;
           }
        }
    }

    footer{
        margin-top : 10%;
        min-height : 100% !important;
    }
}

@media screen and (min-width : 1025px){
    h1{
        top : 1% !important;
    }

    .middle-content-wrapper{
        figure{
            margin-left: 5% !important;
            width : 40%;
            height : 88% !important; 
            img{
                min-width : 50%;
            }
        }
    }
}