

html{
    font-size : 62.5%;
}

body{
    margin:0;
    padding:0;
    
}

.Home-wrapper{
    height:100vh;
    overflow : hidden;
    padding:0;
    background-color: rgba(0, 0, 0, 0.111);
}
header{
    overflow: hidden;
    height : 40vh;
    width:100vw;
    background-color: wheat;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    transition : all .1s linear ;
    // position:relative;
}

.searchFields{
    width : 90%;
    height : 30px;
    position :relative;
    top : 80%;
    left : 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 !important;
    &>*{
    }
    input{
       width : 100%;
       height:100%;
       border-radius : 10px;
       border:none;
       padding-left: 3%;
       background : rgba(255, 255, 255, 0.786);
       color:black;
       box-shadow: 0 0 3px rgba(255, 255, 255, 0.622);
       outline:none;
       &::placeholder{
           font-style: italic;
           font-family: Arial, Helvetica, sans-serif;
           font-weight : 100;
           font-size: 1rem;
           opacity: 0.3;
       }
    }
    img{
        position:absolute;
        left:95%;
        max-width:30px;
        transform: translateX(-50%);
        border-radius : 8px;
        cursor: pointer;
        opacity : 0.4;
    }
}

figure{
   
    padding:0;
    width:99%;
    
    height : 32.4vh; 
    margin: 15% 2%;
    display:flex;
    justify-content : center;
    align-items: flex-start;
    &>*{
        box-shadow : 0 0 8px black;
        border-radius : 3px;
    }
    img{
        max-width:58%;
    }
    figcaption{
        background: #000;
        margin-right: 2%;
        color:white;
        height : 100%;
        width : 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            text-align:center;
            padding:0;
            text-decoration: underline 0.3px;
        }
      
    }
}
